---

---

<button
  id="toc-open-button"
  class="pointer-events-none fixed bottom-18 right-5 z-50 h-10 w-10 rounded-full bg-#8883 op-0 op-transition lt-lgp:(pointer-events-auto op-50) print:hidden dark:bg-#8886 hover:op-100"
  title="Open table of contents"
>
  <div u-i-lucide-table-of-contents></div>
</button>

<nav
  id="toc-panel"
  class="fixed left-5% right-5% top-20 z-200 max-h-82vh w-90% flex flex-col overflow-y-auto rounded-lg bg-[var(--c-bg)] px-8 py-6 shadow-custom_0_0_20_0 hidden!"
>
  <div class="b-b b-[var(--c-scrollbar)] pb-1 text-4.4 font-600 op-80">Table of Contents</div>
  <ul>
    <slot />
  </ul>
</nav>

<script>
  import { toggleFadeEffect } from '~/utils/animation'

  document.addEventListener('astro:page-load', () => {
    /* Open toc panel when user click on button */
    const handleBtnClickToOpen = () => {
      toggleFadeEffect('backdrop', true, 'hidden')
      toggleFadeEffect('toc-panel', true, 'hidden!')
    }

    const tocOpenButton = document.getElementById('toc-open-button')
    tocOpenButton?.addEventListener('click', handleBtnClickToOpen)

    /* Close toc panel when user click on link */
    const handleClickToClose = (event: MouseEvent) => {
      const target = event.target
      const isClickedOnLink = target instanceof HTMLElement && target.closest('a')

      if (isClickedOnLink) {
        toggleFadeEffect('toc-panel', false, 'hidden!')
        toggleFadeEffect('backdrop', false, 'hidden')
      }
    }

    const tocPanel = document.getElementById('toc-panel')
    tocPanel?.addEventListener('click', handleClickToClose)
  })
</script>
