---
interface Props {
  style?: string
  class?: string
}

const { style, class: className } = Astro.props
---

<div {style} class={`h-full w-full flex items-center justify-center gap-3 ${className}`}>
  <div class="h-4 w-4 animate-[dot-pulse_1.5s_ease-in-out_both_infinite] rounded-full bg-[#88888850]"></div>
  <div class="h-4 w-4 animate-[dot-pulse_1.5s_ease-in-out_both_infinite_0.16s] rounded-full bg-[#88888850]"></div>
  <div class="h-4 w-4 animate-[dot-pulse_1.5s_ease-in-out_both_infinite_0.32s] rounded-full bg-[#88888850]"></div>
</div>

<style>
  @keyframes dot-pulse {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
</style>
