---

---

<button
  id="to-top-button"
  class="pointer-events-none fixed bottom-6 right-5 z-50 h-10 w-10 rounded-full op-0 op-transition print:hidden hover:(bg-#8883 op-100!) lt-lgp:(bg-#8883 pointer-events-auto! dark:bg-#8886 op-50!)"
  title="Scroll to top"
>
  <div u-i-ri-arrow-up-line></div>
</button>

<script>
  document.addEventListener('astro:page-load', () => {
    const handleClick = () => {
      window.scrollTo({ top: 0 })
    }
    const toTopButton = document.getElementById('to-top-button')
    toTopButton?.addEventListener('click', handleClick)
  })

  function handleScroll() {
    const scrollThreshold = 300
    const toTopButton = document.getElementById('to-top-button')

    if (toTopButton && window.matchMedia('(min-width: 1024px)').matches) {
      const scrollY = window.scrollY || document.documentElement.scrollTop
      if (scrollY <= scrollThreshold) {
        toTopButton.style.opacity = '0'
        toTopButton.style.pointerEvents = 'none'
      } else {
        toTopButton.style.opacity = '0.3'
        toTopButton.style.pointerEvents = 'auto'
      }
    }
  }
  window.addEventListener('scroll', handleScroll)
</script>
